# Required Variables
snowflake_account = "snowflake_account_id"
prefix            = "my-test"

# Optional Variables
snowflake_api_integration_owner_role     = "API_INTEGRATION_OWNER_RL"
snowflake_storage_integration_owner_role = "STORAGE_INTEGRATION_OWNER_RL"
snowflake_integration_user_roles         = ["INTEGRATION_USER_RL"]
aws_region                               = "us-west-2"
env                                      = "dev"

# Network variables
data_bucket_arns = ["arn:aws:s3:::prasanth-test-bucket"]
